*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
}

body{
    background: #FAFAFA;
}

.conteudo{
    text-align: center;
}

.logo{
    width: 149px;
    height: 143.24px;
    margin-top: 73px;
    left: 608px;
    top: 73px;
    border-radius: 47px;
}

.voltar{
    position: absolute;
    margin-top: 76px;
    width: 76px;
    height: 76px;
    left: 145px;
    top: 59;
}

.bem_vindo h2{
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.69)
}

.login ::placeholder{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 30px;

}

input{
    padding: 20px;
    font-size: 25px;
    border-radius: 20px;
    margin: 8px;
    border: 1px solid rgba(121, 121, 121, 0.9);
    width: 630px;
    height: 60px;
}

button{
    background: #DEF2D5;
    border-radius: 20px;
    border: none;
    padding: 8px 136px 8px 136px;
    margin-top: 20px;
    font-size: 37px;
    color: rgba(0, 0, 0, 0.69);
}

.ver-senha{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 383px;
    right: 499px !important;
    padding: 0px;
}


a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.69);
}

.esqueceu_senha a{
    margin-right: 320px;
    margin-bottom: 50px;
    font-size: 28px;
}

.ir_cadastrar{
    margin-top: 20px;
}

.ir_cadastrar a{ 
    font-weight: 700;
    font-size: 23px;
    color: black;

}

.senha_incorreta{
    font-weight: 400;
    font-size: 25px;
    color: rgba(224, 21, 21, 0.69);
    margin-top: 24px;
    margin-bottom: 10px;
}

.divisor{
    border-bottom: 1px solid green;
    margin-right: 450px;
    margin-left: 450px;
    margin-top: 20px;
}